.cities-list {
    width: 341px;
    height: 304px;
}

.cities {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    overflow-x: auto;
    overflow-y: scroll;
    height: 280px;
    width: 330px;
}

.cities a {
    text-decoration: none;
}

/* для Chrome/Edge/Safari */
.cities::-webkit-scrollbar {
    height: 28px;
    width: 11px;
}

.cities::-webkit-scrollbar-track {
    background: #F9FBFF;
    border-radius: 10px;
}

.cities::-webkit-scrollbar-thumb {
    background-color: #6BA6FF;
    border-radius: 10px;
}

.cities-empty {
    padding-top: 10px;
    align-items: center;
    height: 280px;
    width: 319px;
    text-align: center;
    font-size: 20px;
    color: #2d81ff;
}

.blue-line {
    width: 11px;
    border-radius: 20px;
    background-color: #F9FBFF;
}

.cities__btn {
    padding: 0 21px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
    width: 291px;
    height: 60px;
    color: #2d81ff;
    border: 1px solid #5f9fff;
    box-shadow: 0 4px 4px 0 #00000026;
    border-radius: 20px;
}
