.weather {
  gap: 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.weather__icon-temp {
  gap: 30px;
  align-items: center;
}

.temp {
  font-size: 80px;
  font-weight: 300;
}

img {
  width: 96px;
  height: 96px;
}

.flex {
  display: flex;
}

.properties {
  flex-direction: column;
  align-items: flex-start;
}

.properties__value {
  font-size: 26px;
}

.properties__value span {
  font-size: 13px;
  margin-left: 3px;
}