@media (max-width: 440px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    min-width: 414px;
    padding-right: 0;
    padding-left: 0;
  }

  .app {
    width: 294px;
    height: 520px;
    margin-top: 80px;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  /* .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  } */

  .weather {
    grid-template-areas:
      "icon             temp"
      "properties properties";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }

  .city-search h1 {
    font-size: 20px;
  }

  .icon {
    justify-self: center;
    max-height: 150px;
  }

  .properties {
    flex-direction: row;
    gap: 30px;
    justify-self: center;
    margin-top: 20px;
  }

  .city-search input {
    font-size: 25px !important;
  }

  .condition {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  body {
    min-width: 320px;
  }

  .app {
    width: 220px;
    height: 450px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .city-search h1 {
    font-size: 15px;
  }

  .condition {
    font-size: 15px;
  }

  .city-search input {
    font-size: 20px !important;
  }

  .icon {
    max-height: 90px;
  }

  .temp h1 {
    font-size: 70px;
  }

  .properties {
    gap: 15px;
  }

  .properties__value {
    font-size: 15px;
  }
  .properties__value span {
    font-size: 10px;
  }
}
