@media (max-width: 440px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    min-width: 536px;
  }

  body {
    min-width: 536px;
    padding-right: 0;
    padding-left: 0;
  }

  .app {
    width: 340px;
    height: 580px;
    margin-top: 150px;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  /* .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  } */

  .weather {
    grid-template-areas:
      "icon             temp"
      "properties properties";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }

  .city-search h1 {
    font-size: 26px;
  }

  .icon {
    justify-self: center;
    min-height: 150px;
  }

  .properties {
    flex-direction: row;
    gap: 30px;
    justify-self: center;
    margin-top: 20px;
  }
}
