@font-face {
  font-family: 'PTSans';
  font-weight: 400;
  src: url(./fonts/PTSans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'PTSans', sans-serif;
}

body {
  background-color: #ffffff;
}

.city-form {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-top: 250px;
}

.city-form form {
  margin-bottom: 50px;
  font-family: 'PTSans', sans-serif;
}