* {
  margin: 0;
}

html {
  font-family: "Roboto Slab", serif;
}

body {
  min-width: 740px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  background-color: #fff;
}

.app {
  width: 580px;
  height: 370px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-top: 31px;
  padding-right: 58px;
  padding-bottom: 31px;
  padding-left: 58px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #072f6a 0%,
    rgba(1, 33, 81, 0.869792) 0.01%,
    #2d81ff 100%
  );
  border-radius: 40px;
  box-shadow: 1px 5px 7px 1px #00000040;
}
